<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Player</title>
</head>
<body>
<h1>Delete Player</h1>
<p>
    <a th:href="@{/list}">Player list</a>
</p>
<form th:action="@{/delete-team}"th:object="${player}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name: </td>
            <td th:text="${player.name}"></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td th:text="${team.description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input th:type="submit" value="Delete TeamFootBall"></td>
        </tr>
    </table>
</form>
</body>
</html>