<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Player</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <a href="/create-player">Create new Player</a>
    <h1>Player</h1>
    <table class="table" border="1">
        <tr>
            <th>Name:</th>
            <th>Age:</th>
            <th>Height:</th>
            <th>Nationality</th>
            <th>Position</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="player:${list}">
            <tr>
                <td th:text="${player.name}"></td>
                <td th:text="${player.age}"></td>
                <td th:text="${player.height}"></td>
                <td th:text="${player.nationality}"></td>
                <td th:text="${player.position}"></td>
                <td><a th:href="@{/edit-team/__${player.id}__}">Edit</a></td>
                <td><a th:href="@{/delete-team/__${player.id}__}">Delete</a></td>
            </tr>
        </th:block>
    </table>
</div>

<script src="/assets/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>